:root{
    --white-color:#fff;
    --black-color:#000;
    --text-color:#333;
    --header:120px;
    --header_navbar:34px;
    --header_logo:calc(var(--header) - var(--header_navbar));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid_row{
    
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  
}
.grid_column-2{
    padding-left: 5px;
    padding-right: 5px;
    width:16.6667% ;
    
}
.grid_column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width:20% ;
    
}
.grid_column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}
@keyframes fadein{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.5rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    color: #F53E2D;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1.6rem;
    background-color: #fff;
    margin: 0 4px;
}
/*  */
.product-item{
    display: block;
    text-decoration: none   ;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0,0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}
.product-item:hover{
    transform: translateY(-1px);
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0,0.05);
}
.product-item-img{
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    z-index: -9999
    ;
}
.ten{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.prince{
    display: flex;
    margin-left: 10px;
}
.giacu{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.giamoi{
    font-size: 1.6rem;
    color: #F53E2D;
    margin-left: 6px;
}
.like{
    display: flex;
    justify-content: space-between;

}
.thich{
    font-size: 1.4rem;  
}
.active .hien{
    display: block;
}
.active .an{
    display: none;
}
i.hien{
    display: none;
    color: red;
}
.star{}
.xuatxu{
    display: flex;
}
.xuat{
    margin-right: auto;
}
.xu{}
.thich1{
    position: absolute;
    top: 20px;
    left: -4px;
    color: #F53E2D;
    background-color: currentColor;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-right: 4px;
    border-radius: 0 2px 2px 0;
    
   
   

}
.thich1 span{
    color: #fff;
}
.thich1 i{
    color: #fff;
}
.thich1::after{
    content: "";
    position: absolute;
    left: 0 ;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.thich-icon{
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
    
}
.km{
    position: absolute;
    height: 36px;
    width:30px ;
    top: 0;
    right: 0;
    background-color: rgb(255, 216, 64,0.94);
    text-align: center;
}
.km::after{
    position: absolute;
    content: "";
    left: 0;
    bottom: -5px;
    border-width: 0 15px 5px ;
    border-style:solid;
    border-color: transparent yellow transparent yellow;
}
